.bg-image {
    animation-name: pomjeri;
    animation-duration: 3s;
    animation-direction: normal;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    position: relative;
}

h1 {
    
    font-family: sans-serif;
    font-size: 50px;
    border-bottom: 2px;
    border-radius:10px;
    border-style: solid;
    border-color: rgb(16, 16, 16);
    display: inline-table;
    background-color:rgb(53, 53, 53);
    margin-top: 1px;
    font-weight: bold;
    color: white;
}
i {
    color: red;
    
    border-radius:10px;
    
}
.container {
    animation: pomjeri;
    animation-duration: 3s;
    animation-direction: normal;
    height: fit-content;
    width: fit-content;
    margin-top: 50px;
    margin-left: 5px;
    border: 2px;
    border-radius: 10px;
    border-color: red;
    border-style: solid;
    display:table;
    
}
.btn {
    margin-top: 3px;
    width: 100%;
}



@keyframes pomjeri{
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0px;
    }
}
